.lgDiv {
    background-color: #ffffff;
    padding: 15%;
}

.dgDiv {
    background-color:  #f2f2f2;
    padding: 15%;
}

.componentHeader {
    color:  #4274F3;
}

.closeButton {
    position: 'absolute';
}

.rubricButton {
    color:  #4274F3;
    background-color:  #f2f2f2;
    padding: 0.5% 5%;
    margin: 1% 40%;
}