.flex-container{
    width: 80%;
  }
  
  .student {
    display: inline-block;
    position: relative;
    margin: 1%;
    width: 12%;
  }

  .info {
    position: absolute;
    height: 90%;
    width: 90%;
    display: block;
    top: 15%;
    text-align: center;
  }

  .bubblegridfilter {
    width: 10%;
  }

  .status-circle {
    width: 12%;
    height: 12%;
    border-radius: 50%;
    position: absolute;
    right: 1%;
  }
